.s-2048, .mobile, .pizzeria, .profilepic, .wpo{
	background: url(sprites.png) no-repeat;
}

.s-2048{
	background-position: 0 -283px ;
	width: 100px;
	height: 50px;
}

.mobile{
	background-position: 0 -216px ;
	width: 100px;
	height: 61px;
}

.pizzeria{
	background-position: 0 -138px ;
	width: 100px;
	height: 75px;
}

.profilepic{
	background-position: 0 -65px ;
	width: 70px;
	height: 70px;
}

.wpo{
	background-position: 0 0;
	width: 100px;
	height: 62px;
}

